[user]
	name = Manuel Rota
	email = manuel.rota@protonmail.ch
	signingKey = 1A23038749380E1E
[commit]
	gpgSign = true

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only --features=interactive

[delta]
    line-numbers = true
    plus-style = "syntax #012800"
    minus-style = "syntax #340001"
    syntax-theme = Monokai Extended
    navigate = true

[color]
    ui = auto

[alias]
    l = log
    s = status
    d = diff
